<div class="easy-content-page">
  <%= title t('.header', user_name: @user.name) %>
  <div style="text-align: right;">
    <% if User.current.allowed_to_globally?(:edit_deputies) %>
      <%= t(".select_user") %>
      <%= select_tag :user_id,
        options_for_select(User.with_deputy_permission(:have_deputies).status(User::STATUS_ACTIVE).order(:lastname).map {|u| [u.name(:lastname_firstname), u.id]}, selected: @user.id),
        onchange: "window.location='#{user_deputies_path}?user_id='+this.value" %>
    <% end %>
  </div>

  <h3><%= t('.sub_header.availabilities') %></h3>
  <% if @user.unavailablity_set? %>
    <p><%= t('.current_unavailability_status', from: I18n.l(@user.unavailable_from), to: I18n.l(@user.unavailable_to)) %></p>
  <% else %>
    <p><%= t('.no_current_unavailability') %></p>
  <% end %>

  <h3><%= t('.sub_header.deputies') %></h3>
  <% if [@user_deputies_with_projects, @user_deputies_without_projects].flatten.any? %>
    <p><%= t('.current_deputies_available', count: [@user_deputies_with_projects, @user_deputies_without_projects].flatten.size) %></p>
  <% else %>
    <p><%= t('.no_current_deputies') %></p>
  <% end %>

  <div id="deputy_list_container">
    <table class="list">
      <thead>
        <th>
        </th>
        <th><%= t('.table_header.prio') %></th>
        <th><%= t('.table_header.name') %></th>
      </thead>

      <% [@user_deputies_with_projects, @user_deputies_without_projects].flatten.each do |user_deputy| %>
        <% if user_deputy.prio == 1 %>
          <tr>
            <td colspan="3"><%= user_deputy.project.try(:name) || t('.form.all_projects') %></td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= link_to image_tag('1downarrow.png'), move_down_user_deputy_path(user_deputy), title: t('.links.move_down') %>
            <%= link_to image_tag('1uparrow.png'), move_up_user_deputy_path(user_deputy), title: t('.links.move_up') %>
            <%= link_to image_tag('delete.png'), delete_user_deputy_path(user_deputy), { title: t('.links.delete') } %>
          </td>
          <td><%= user_deputy.prio %></td>
          <td><%= user_deputy.deputy.name %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= content_for :sidebar do %>

    <%= form_for :user_availability, url: set_availabilities_user_deputies_path(user_id: @user.id) do |f| %>
      <h4><%= t('.sub_header.set_availability') %></h4>
      <%= f.label :unavailable_from, t('.form.labels.unavailable_from') %><br />
      <%= f.text_field :unavailable_from, :size => 10, value: @user.unavailable_from %><%= calendar_for('user_availability_unavailable_from') %><br />

      <%= f.label :unavailable_to,  t('.form.labels.unavailable_to') %><br />
      <%= f.text_field :unavailable_to, :size => 10, value: @user.unavailable_to %><%= calendar_for('user_availability_unavailable_to') %><br />

      <%= f.label :delete_availabilities, t('.form.labels.delete_availabilities') %> <%= f.check_box :delete_availabilities %>

      <%= f.submit  t('.form.submit_availability'), class: 'button-positive' %>
    <% end %>

    <hr></hr>

    <%= form_for UserDeputy.new do |f| %>
      <h4><%= t('.sub_header.new_deputy') %></h4>
      <%= f.label :deputy_id, UserDeputy.human_attribute_name(:deputy) %><br />
      <%= f.select :deputy_id, @users.order(:lastname).map {|u| [u.name(:lastname_firstname), u.id]}, include_blank: true %><br />
      <div id="deputy-project-select"><%= t('.form.select_deputy') %></div>
      <%= f.submit  t('.form.submit_deputy'), class: 'button-positive' %>
    <% end %>

  <% end %>
</div>

<%= content_for :header_tags do %>
  <%#  tweak for sidebar calender %>
  <style type="text/css">
    #sidebar { z-index: 99 !important;}
    #ui-datepicker-div { z-index: 101 !important;}
  </style>

  <%# JS for reloading projects %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#user_deputy_deputy_id').bind('change', function(){
        if($(this).val() == ''){
          alert("<%= t('.form.select_deputy') %>")
        }else{
          $.ajax({
            url: "<%= projects_for_user_user_deputies_path %>",
            type: "GET",
            data: {user_id: $(this).val() },
            success: function(data){
              $('#deputy-project-select').html(data)
            }
          })
        }
      });
    });
  </script>
<% end %>